
.textArea{
  position: relative;
  top: -2.8rem;
  display: flex;
  justify-content:center;
  
}

.textArea textarea {
  padding: 0.8rem;
  width: 40rem;
  background: var(--gray-500);
  border: 0;
  resize: none;
  height: 3.4rem;
  border-radius: 8px;
  color: var(--gray-200);
  line-height: 1.4;
  margin-top: 1rem;
  
}

.textArea button[type='submit'] {
  padding: 0 1.5rem;
  height: 3.4rem;
  border-radius: 8px;
  border: 0;
  line-height: 1.4;
  background: var(--blue-dark);
  color: var(--white);
  margin-left: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.textArea button[type='submit']:hover {
  background: var(--blue);
}
